[submodule "libraries/socketio"]
	path = libraries/socketio
	url = http://github.com/LearnBoost/Socket.IO-node.git
[submodule "libraries/static-resource"]
	path = libraries/static-resource
	url = http://github.com/atsuya/static-resource.git
[submodule "libraries/mustache"]
	path = libraries/mustache
	url = http://github.com/raycmorgan/Mu.git
[submodule "libraries/couchdb"]
	path = libraries/couchdb
	url = http://github.com/felixge/node-couchdb.git
